@inherits LayoutComponentBase
<div class="wrapper">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-panel">
        
        <Header />

        <div class="container">
            <div class="page-inner">
                @Body
            </div>
            
        </div>

        
    </main>
</div>
